
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  

  body {
    margin: 0;
  }

  main {
    display: block;
  }
  
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  
  a {
    background-color: transparent;
  }

  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  

  b,
  strong {
    font-weight: bolder;
  }

  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  

  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  

  img {
    border-style: none;
  }
  

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  

  button,
  input { /* 1 */
    overflow: visible;
  }
  

  button,
  select { /* 1 */
    text-transform: none;
  }
  

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }

  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  

  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  

  details {
    display: block;
  }

  
  summary {
    display: list-item;
  }

  template {
    display: none;
  }
  
  
  [hidden] {
    display: none;
  }

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'controls results';
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.controls {
  background-color: #F3F5FC;
  grid-area: controls; 
  padding-button: -300px; 
}

.results {
  background-color: #F3F5FC;
  grid-area: results; 
  padding: 30px 0px 40px 10px;
}

.textoutput__textoutput-results{
  background-color: white;
  width:90%;
  height:100%;
  border-radius: 32px; 
  text-align: center;
}

.textoutput-results__content{
  display: flex;
  height: 100%; 
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textoutput-results__content img {
  max-width: 100%;
  height: auto;
}


.controls {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.controls__icon{
  text-align: left; 
  margin-bottom: 30px
}

.controls__buttons {
  height: 10%; 
  text-align: left; 
  padding-button: -1400px;
  
}

.img-alert{
  width:240px;
  margin-bottom:4px;
  
}


.buttons{
  display:flex;
  flex-direction:column;
  margin-bottom: 30px;
  padding-left: 160px;
}

.icon {
  margin-top: 30px; 
}


.controls__input {
  height: 80%; 
  width: 80%;
  padding-left: 160px
}

.controls__buttons img {
  margin-bottom: 5px; 
}


.input__textarea {
  width: 100%;
  height:50%;
  box-sizing: border-box;
  background-color: #F3F5FC;
  border: 1px solid #F3F5FC; 
  overflow-y: scroll;
  font-size: 32px;
  color: #0A3871;
  resize: none; 
  spellcheck: false;

}

.buttons__button {
  border-radius: 24px;
  width: 328px;
  height: 67px;
  color: #ffffff; 
  border: none; 
  margin-bottom: 10px; 
}

.encrypt{
  background-color: #0A3871;
  
}

.decrypt {
  background-color: #F3F5FC; 
  border: 2px solid #0A3871;
  color: #0A3871;
}

.copy{

margin-top: 40px;
background-color: white; 
border: 2px solid #0A3871;
color: #234f85;

}

.isOcult{
  display:none;
}


.buttons__button.encrypt:hover {
  background-color: #234f85; 
  color: white; 
  cursor: pointer; 
}

.buttons__button.decrypt:hover {
  background-color: #e8ebf9; 
  color: #0A3871; 
  cursor: pointer; 
}

.buttons__button.copy:hover {
  background-color: #f8f9fa; 
  color: #234f85; 
  cursor: pointer; 
}

.expandible {
  width: 400px;
  word-wrap: break-word; 
  overflow-x: hidden; 
  max-height: 400px; 
  overflow: hidden; 
  transition: max-height 0.3s ease; 
}

.expandible:hover {
  max-height: none; 
  cursor: pointer; 
}

//RESPONSIVE
@media screen and (max-width: 1302px) {
  .container {
    grid-template-areas:
      'controls'
      'results'; 
    grid-template-columns: 1fr; 
  }


  .textoutput-results__content img {
    display: none; 
  }

  .controls__input {
    height: 70%; 
    width: 80%;
    padding-left: 160px;
    padding-left: 35px;
  }

.results
{
  background-color: #F3F5FC;
  padding: 30px 0px 40px 10px;
  margin-top: -240px;
}

.buttons{
  margin-top:-280px
}

}


@media screen and (max-width: 555px){
  .buttons{
    margin-left:-43px;
  }
}


@media screen and (max-width: 1111px){
  .buttons{
    margin-left:-58px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}
}


@media screen and (max-width: 1297px){
  .buttons{
    margin-left:120px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}


}


@media screen and (max-width: 1000px){
  .buttons{
    margin-left:20px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}

}

@media screen and (max-width: 900px){
  .buttons{
    margin-left:-35px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}


}



@media screen and (max-width: 803px){
  .buttons{
    margin-left:-72px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}
}



@media screen and (max-width: 746px){
  .buttons{
    margin-left:72px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}
}




@media screen and (max-width: 647px){
  .buttons{
    margin-left:5px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}
.controls__input {

  padding-left: 60px
}

}


@media screen and (max-width: 630px){
  .buttons{
    margin-left:5px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}
.controls__input {

  padding-left: 60px
}

}


@media screen and (max-width: 571px){
  .buttons{
    margin-left:-25px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
}

.controls__input {

  padding-left: 100px
}

.controls__input {

  padding-left: 50px
}
}


@media screen and (max-width: 490px){
  .buttons{
    margin-left:-75px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
  margin-left:-45px;
}

.input__textarea {

  padding-left: -100px
}

.controls__input {

  padding-left: 50px
}
}



@media screen and (max-width: 526px){
  .buttons{
    margin-left:-70px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
  margin-left:-45px;
}

.input__textarea {

  padding-left: -100px
}

.controls__input {

  padding-left: 50px
}
}

@media screen and (max-width: 423px){
  .buttons{
    margin-left:-110px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
  margin-left:-45px;
}

.input__textarea {

  padding-left: -100px
}

.controls__input {

  padding-left: 50px
}
}



@media screen and (max-width: 656px){
  .buttons{
    margin-left:-10px;
  }

  .results{
  background-color: #F3F5FC;
  padding: 0px 0px 0px 90px;
  margin-top: -240px;
  margin-left:-45px;
}

.input__textarea {

  padding-left: -100px
}

.controls__input {

  padding-left: 50px
}
}

.pie-pagina{
    margin: 1m 0 0 0;
    padding: 10px 0;
    font-size: 12px;
    color: black;
    text-align: center;
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}
.pgn{
    width: 25px;
    margin: 5 25px;
    padding: 5px 5px;
    border-radius: 50%; 
    
}

@media screen and (max-width: 400px) {
    .pie-pagina{
        font-size: 10px;
    }
}
    .pgn{
        width: 20px;
        margin: 5 20px;
        padding: 5px 5px;
        border-radius: 50%;
    }
    